<!-->div class="container"></div>
<nav class="navbar navbar-dark bg-primary">
  <div>
      <img src="..." class="rounded float-left" alt="...">
  </div>
  <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  
</nav --> 
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="proyects">Proyect</a>
    </li>
    <li class="nav-item">       
      <a class="nav-link" routerLink="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="#">Disabled</a>
    </li>
  </ul>